<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function () {
    	(new CommonModule()).init();
    });
</script>

<%- contentFor('title') %>
| UI Static Templates

<%- contentFor('body') %>
<%- include _header %>
<div class="content container">
	<ul class="pages-list-wrap">
		<li class="pages-list-title">PQ Pages</li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-connector">Connector PQ Page (Screen 1)</a></li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-original">Original PQ Page (Screen 4)</a></li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-dreamer">Dreamer PQ Page (Screen 12)</a></li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-doer">Doer PQ Page (Screen 13)</a></li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-advisor">Advisor PQ Page (Screen 3)</a></li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-organizer">Organizer PQ Page (Screen 2)</a></li>

		<li class="pages-list-title">Quest &amp; Quiz</li>
		<li><a target="_blank" href="/ui-statics/quiz-start">Quiz Start Page</a></li>
		<li><a target="_blank" href="/ui-statics/connect-quiz-question">Question for Skill: Connect</a></li>
		<li><a target="_blank" href="/ui-statics/connect-quiz-question-true-false">Question for Skill: Connect(True/False)</a></li>
		<li><a target="_blank" href="/ui-statics/identify-quiz-question">Question for Skill: Identify</a></li>
		<li><a target="_blank" href="/ui-statics/understand-quiz-question">Question for Skill: Understand</a></li>
		<li><a target="_blank" href="/ui-statics/quiz-result">Quiz result Page</a></li>
		<li><a target="_blank" href="/ui-statics/quiz-question-slide">Quiz Question Slide</a></li>
		<li><a target="_blank" href="/ui-statics/quiz-question-correct">Quiz Question Correct</a></li>
		<li><a target="_blank" href="/ui-statics/quiz-question-wrong">Quiz Question Wrong</a></li>
		<li><a target="_blank" href="/ui-statics/image-quiz-question-portrait">Image Based Quiz Question (Portrait)</a></li>
		<li><a target="_blank" href="/ui-statics/image-quiz-question-landscape">Image Based Quiz Question (Landscape)</a></li>
		<li><a target="_blank" href="/ui-statics/audio-quiz-question">Audio Based Quiz Question</a></li>
		<li><a target="_blank" href="/ui-statics/video-quiz-question">Video Based Quiz Question</a></li>

		<li class="pages-list-title">About Me Pages</li>
		<li><a target="_blank" href="/ui-statics/about-me-organizer">About me: Organizer</a></li>
		<li><a target="_blank" href="/ui-statics/about-me-advisor">About me: Advisor</a></li>
		<li><a target="_blank" href="/ui-statics/about-me-doer">About me: Doer</a></li>
		<li><a target="_blank" href="/ui-statics/about-me-dreamer">About me: Dreamer</a></li>
		<li><a target="_blank" href="/ui-statics/about-me-original">About me: Original</a></li>
		<li><a target="_blank" href="/ui-statics/about-me-connector">About me: Connector</a></li>
		
		<li class="pages-list-title">Explore pages</li>
		<li><a target="_blank" href="/ui-statics/explore-overview">Explore Overview</a></li>
		<li><a target="_blank" href="/ui-statics/explore-organizer">Explore Organizer</a></li>
		<li><a target="_blank" href="/ui-statics/explore-advisor">Explore Advisor</a></li>
		<li><a target="_blank" href="/ui-statics/explore-connector">Explore Connector</a></li>
		<li><a target="_blank" href="/ui-statics/explore-original">Explore Original</a></li>
		<li><a target="_blank" href="/ui-statics/explore-dreamer">Explore Dreamer</a></li>
		<li><a target="_blank" href="/ui-statics/explore-doer">Explore Doer</a></li>
		<li><a target="_blank" href="/ui-statics/explore-personality-predictor-1">Personality Predictor: Step 1</a></li>
		<li><a target="_blank" href="/ui-statics/explore-personality-predictor-2">Personality Predictor: Step 2</a></li>
		<li><a target="_blank" href="/ui-statics/explore-personality-predictor-3">Personality Predictor: Step 3</a></li>

		<li class="pages-list-title">Onboarding Flow</li>
		<li><a target="_blank" href="/ui-statics/onboarding-step-one">Onboarding Step One</a></li>
		<li><a target="_blank" href="/ui-statics/onboarding-step-two">Onboarding Step Two</a></li>

		<li class="pages-list-title">Assessment Pages</li>
		<li><a target="_blank" href="/ui-statics/assessment-overview">Assessment Overview</a></li>
		<li><a target="_blank" href="/ui-statics/ppi-assessment">PPI Assessment</a></li>

		<li class="pages-list-title">Landing pages</li>
		<li><a target="_blank" href="/ui-statics/login-page">Login Page</a></li>
		<li><a target="_blank" href="/ui-statics/register-page">Register Page</a></li>
		<li><a target="_blank" href="/ui-statics/register-terms-condition-page">Register Terms and Conditions Page</a></li>
		<li><a target="_blank" href="/ui-statics/after-login-terms-condition-page">After Login Terms and Conditions Page</a></li>
		<li><a target="_blank" href="/ui-statics/validate-info">Validation Page</a></li>
		<li><a target="_blank" href="/ui-statics/join-waitlist">Join Waitlist</a></li>
		<li><a target="_blank" href="/ui-statics/join-waitlist-confirm">Join Waitlist Confirm</a></li>
		<li><a target="_blank" href="/ui-statics/join-waitlist-confirm-register">Join Waitlist Confirm via Register</a></li>
		<li><a target="_blank" href="/ui-statics/set-new-pwd">Set New Password</a></li>

		<li class="pages-list-title">PQ Public Profile Pages</li>
		<li><a target="_blank" href="/ui-statics/advisor-public-profile">Advisor Public Profile</a></li>
		<li><a target="_blank" href="/ui-statics/doer-public-profile">Doer Public Profile</a></li>
		<li><a target="_blank" href="/ui-statics/connector-public-profile">Connector Public Profile</a></li>
		<li><a target="_blank" href="/ui-statics/original-public-profile">Original Public Profile</a></li>
		<li><a target="_blank" href="/ui-statics/dreamer-public-profile">Dreamer Public Profile</a></li>
		<li><a target="_blank" href="/ui-statics/organizer-public-profile">Organizer Public Profile</a></li>

		<li class="pages-list-title">PQ Public Profile View</li>
		<li><a target="_blank" href="/ui-statics/doer-public-profile-view">Doer Public Profile View</a></li>
		<li><a target="_blank" href="/ui-statics/advisor-public-profile-view">Advisor Public Profile View</a></li>
		<li><a target="_blank" href="/ui-statics/connector-public-profile-view">Connector Public Profile View</a></li>
		<li><a target="_blank" href="/ui-statics/original-public-profile-view">Original Public Profile View</a></li>
		<li><a target="_blank" href="/ui-statics/dreamer-public-profile-view">Dreamer Public Profile View</a></li>
		<li><a target="_blank" href="/ui-statics/Organizer-public-profile-view">Organizer Public Profile View</a></li>		

		<li class="pages-list-title">WPA Output Pages</li>
		<li><a target="_blank" href="/ui-statics/pre-baseline-test-profile">Pre Baseline Test Profile</a></li>		
		<li><a target="_blank" href="/ui-statics/mypq-locked">My PQ page locked</a></li>		
		<li><a target="_blank" href="/ui-statics/mypq-unlocked">My PQ page unlocked modal</a></li>
		<li><a target="_blank" href="/ui-statics/first-time-quiz">First Time Quiz</a></li>

		<li class="pages-list-title">Error Pages</li>
		<li><a target="_blank" href="/ui-statics/404">404: Page Not Found</a></li>		
		<li><a target="_blank" href="/ui-statics/500">500: Internal Server Error</a></li>

		<li><a target="_blank" href="/ui-statics/site-under-maintenance">Site Under Maintenance</a></li>

		<li class="pages-list-title">User Settings</li>
		<li><a target="_blank" href="/ui-statics/settings#account">Accounts</a></li>
		<li><a target="_blank" href="/ui-statics/settings#password">Password</a></li>
		<li><a target="_blank" href="/ui-statics/settings#faq">Help/FAQ</a></li>
		<li><a target="_blank" href="/ui-statics/settings#invite">Invite Employees</a></li>
		<li><a target="_blank" href="/ui-statics/add-department-get-started#invite">Invite : Add Department (Get Started)</a></li>
		<li><a target="_blank" href="/ui-statics/add-department#invite">Invite : Add Department</a></li>
		<li><a target="_blank" href="/ui-statics/add-departments-subdivision">Invite : Add departments Subdivision</a></li>
		<li><a target="_blank" href="/ui-statics/add-department-select-trainings#invite">Invite : Add Department (Select Trainings)</a></li>
		<li><a target="_blank" href="/ui-statics/add-more-department-with-trainings#department">Department : Add Department (Select Trainings)</a></li>
		<li><a target="_blank" href="/ui-statics/add-more-sub-department-with-trainings#department">Department : Add Sub-Department (Select Trainings)</a></li>
		<li><a target="_blank" href="/ui-statics/department-list#department">Departments</a></li>
		<li><a target="_blank" href="/ui-statics/admin-user-settings">Admin: User Settings Page </a></li>
		<li><a target="_blank" href="/ui-statics/admin-user-settings-dropdown">Admin: User Settings Page with Drop down</a></li>
		<li><a target="_blank" href="/ui-statics/contest-setup">Contest Setup</a></li>
		<li><a target="_blank" href="/ui-statics/contest-setup-error-states">Contest Setup Error States</a></li>
		<li><a target="_blank" href="/ui-statics/existing-contest-details">Existing Contest Details</a></li>


		<li class="pages-list-title">Full Page Loader</li>
		<li><a target="_blank" href="/ui-statics/full-page-loader">Full page loader</a></li>

		<li class="pages-list-title">Email Templates</li>
		<li><a target="_blank" href="/ui-statics/forget-password-email">Forget Password Email Template</a></li>
		<li><a target="_blank" href="/ui-statics/password-recovery-email">Password Recovery Template</a></li>

		<li class="pages-list-title">My Team</li>
		<li><a target="_blank" href="/ui-statics/my-team">My Team page</a></li>
		<li><a target="_blank" href="/ui-statics/my-team-no-result">My Team page no result</a></li>

		<li class="pages-list-title">Analytics pages</li>
		<li><a target="_blank" href="/ui-statics/analytics-admin-view">Admin / Executive View</a></li>
		<li><a target="_blank" href="/ui-statics/analytics-super-admin-view">Super Admin View</a></li>
		<li><a target="_blank" href="/ui-statics/analytics-supervisor-team-view">Supervisor Team View</a></li>
		<li><a target="_blank" href="/ui-statics/analytics-non-call-center-employee-view">Employee View (Non-call center company)</a></li>
		<li><a target="_blank" href="/ui-statics/analytics-call-center-employee-view">Employee View (Call center company)</a></li>
		<li><a target="_blank" href="/ui-statics/analytics-call-center-employee-view-null-state">Employee View (Call center company): Null State</a></li>
		<li><a target="_blank" href="/ui-statics/analytics-call-center-employee-view-no-data-overlay">Employee View (Call center company): Not enough Data Overlay</a></li>
		<li><a target="_blank" href="/ui-statics/analytics-super-admin-sub-dept-view">Super Admin With Sub Department View</a></li>

		<li class="pages-list-title">Contest Related Pages</li>
		<li><a target="_blank" href="/ui-statics/rewards-top-pq-banner">Rewards: Top PQ Banner</a></li>
		<li><a target="_blank" href="/ui-statics/rewards-top-pq-growth-banner">Rewards: Top PQ Growth Banner</a></li>
		<li><a target="_blank" href="/ui-statics/custom-rewards-banner">Rewards: Custom Rewards Banner</a></li>
		<li><a target="_blank" href="/ui-statics/contest-rules-page">Contest Rules Page</a></li>

		<li class="pages-list-title">Contest Annoucement Related Email Templates</li>
		<li><a target="_blank" href="/ui-statics/top-pq-contest-annoucement-email">Top PQ Contest Annoucement</a></li>
		<li><a target="_blank" href="/ui-statics/top-pq-growth-contest-annoucement-email">Top PQ Growth Contest Annoucement</a></li>
		<li><a target="_blank" href="/ui-statics/custom-contest-annoucement-email">Custom Contest Annoucement</a></li>
		<li><a target="_blank" href="/ui-statics/top-pq-contest-winner-annoucement-email">Top PQ Contest Winner Annoucement</a></li>
		<li><a target="_blank" href="/ui-statics/top-pq-contest-winner-profile-annoucement-email">Top PQ Contest Winner Profile Annoucement</a></li>

		<li class="pages-list-title">PDF Report Related Pages</li>
		<li><a target="_blank" href="/ui-statics/advisor-pq-details-page">Advisor PQ Details Page</a></li>
		<li><a target="_blank" href="/ui-statics/organizer-pq-details-page">Organizer PQ Details Page</a></li>
		<li><a target="_blank" href="/ui-statics/connector-pq-details-page">Connector PQ Details Page</a></li>
		<li><a target="_blank" href="/ui-statics/doer-pq-details-page">Doer PQ Details Page</a></li>
		<li><a target="_blank" href="/ui-statics/dreamer-pq-details-page">Dreamer PQ Details Page</a></li>
		<li><a target="_blank" href="/ui-statics/original-pq-details-page">Original PQ Details Page</a></li>
		<li><a target="_blank" href="/ui-statics/advisor-pq-personality-matters">Personality Matters Page : Advisor PQ</a></li>
		<li><a target="_blank" href="/ui-statics/organizer-pq-personality-matters">Personality Matters Page : Organizer PQ</a></li>
		<li><a target="_blank" href="/ui-statics/connector-pq-personality-matters">Personality Matters Page : Connector PQ</a></li>
		<li><a target="_blank" href="/ui-statics/doer-pq-personality-matters">Personality Matters Page : Doer PQ</a></li>
		<li><a target="_blank" href="/ui-statics/dreamer-pq-personality-matters">Personality Matters Page : Dreamer PQ</a></li>
		<li><a target="_blank" href="/ui-statics/original-pq-personality-matters">Personality Matters Page : Original PQ</a></li>
		<li><a target="_blank" href="/ui-statics/north-america-workstyle-distribution">North America Workstyle Distribution Page</a></li>
		<li><a target="_blank" href="/ui-statics/pdf-report-user-detail-page">User Detail Page</a></li>
		<li><a target="_blank" href="/ui-statics/pdf-report-cover-page">Report Cover Page</a></li>
		<li><a target="_blank" href="/ui-statics/print-report-notification">Print Report Notification Email Template</a></li>
		<li><a target="_blank" href="/ui-statics/advisor-pq-details-cover-page">Advisor PQ Details Sample Page</a></li>
		<li><a target="_blank" href="/ui-statics/advisor-pq-personality-matters-page">Personality Matters Page : Advisor PQ Sample page</a></li>

		<li class="pages-list-title">New PQ Pages</li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-advisor-page">Advisor PQ Page</a></li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-connector-page">Connector PQ Page</a></li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-doer-page">Doer PQ Page</a></li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-dreamer-page">Dreamer PQ Page</a></li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-organizer-page">Organizer PQ Page</a></li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-original-page">Original PQ Page</a></li>
		<li><a target="_blank" href="/ui-statics/ui-statics-mypq-new-user-page">New User PQ Page</a></li>

		<li class="pages-list-title">Weekly Recap Email Templates</li>
		<li><a target="_blank" href="/ui-statics/ui-statics-weekly-email-above-avg">For Above Average Users</a></li>
		<li><a target="_blank" href="/ui-statics/ui-statics-weekly-email-below-avg">For Below Average Users</a></li>
	</ul>
</div>
<%- include _footer %>
