<%- contentFor('title') %>
| PDF Report : Advisor PQ Details

<%- contentFor('body') %>
<div class="pdf-wrapper clearfix">
	<div class="pq-details-report advisor-details-report">
		<div class="report-pq-icon"></div>
		<div class="report-user-details">
			<h4 class="report-user-name">Miroslav Testman, <span>Product Manager</span></h4>
			<img class="report-superpower-tag" src="<%= asset('assets/images/advisor_superpower_dark.png') %>">
		</div>
		<div class="report-pq-details">
			<h4 class="report-pq-details-head">Advisors are dedicated, observant, and conscientious.</h4>
			<p class="report-pq-details-text">When communicating and emailing with an advisor workstyle, start by stating why your proposal is important, leverage well-known sources to build credibility, and show outward signs of respect to the advisor and their opinions.</p>
			<a class="web-link-wrap" href="http://my.work.style">my.work.style</a>
		</div>
		<div class="report-logo-wrap">
			<img src="<%= asset('assets/images/workstyle_logo_dark.png') %>">
		</div>
	</div>
	<div class="pq-sidebar-wrap">
		<h4 class="all-pq-list-head">My Workstyle Hierarchy</h4>
		<ul class="all-pq-details all-pq-report">
			<li class="each-pq-detail advisor-pq-wrap">
				<div class="pq-icon-wrap"><img class="pq-icon-size pq-wrap-6x" src="<%= asset('assets/images/pdf-pq-icon/advisor-pq-icon.png') %>"></div>
				<h4 class="report-pq-label">Advisor</h4>
			</li>
			<li class="each-pq-detail connector-pq-wrap">
				<div class="pq-icon-wrap"><img class="pq-icon-size pq-wrap-5x" src="<%= asset('assets/images/pdf-pq-icon/connector-pq-icon.png') %>"></div>
				<h4 class="report-pq-label">Connector</h4>
			</li>
			<li class="each-pq-detail doer-pq-wrap">
				<div class="pq-icon-wrap"><img class="pq-icon-size pq-wrap-4x" src="<%= asset('assets/images/pdf-pq-icon/doer-pq-icon.png') %>"></div>
				<h4 class="report-pq-label">Doer</h4>
			</li>
			<li class="each-pq-detail dreamer-pq-wrap">
				<div class="pq-icon-wrap"><img class="pq-icon-size pq-wrap-3x" src="<%= asset('assets/images/pdf-pq-icon/dreamer-pq-icon.png') %>"></div>
				<h4 class="report-pq-label">Dreamer</h4>
			</li>
			<li class="each-pq-detail organizer-pq-wrap">
				<div class="pq-icon-wrap"><img class="pq-icon-size pq-wrap-2x" src="<%= asset('assets/images/pdf-pq-icon/organizer-pq-icon.png') %>"></div>
				<h4 class="report-pq-label">Organizer</h4>
			</li>
			<li class="each-pq-detail original-pq-wrap">
				<div class="pq-icon-wrap"><img class="pq-icon-size pq-wrap-1x" src="<%= asset('assets/images/pdf-pq-icon/original-pq-icon.png') %>"></div>
				<h4 class="report-pq-label">Original</h4>
			</li>
		</ul>
	</div>
</div>
