<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function () {
    	(new CommonModule()).init();
    	initQuizOptionSelect();
    });
</script>

<%- contentFor('title') %>
| Quest &amp; Quiz

<%- contentFor('body') %>
<%- include _header %>
<div class="content quiz-background <%- skill_type_class %>">
	<div class="container">
		<div class="question-wrap">
			<div class="question-box">
				<p class="ques-text">Question: Phoebe LOVES Starbucks! She just loves saying the word Frappppacccccciiiinnnooooooo with extra gusto! You regularly grab a Starbucks coffee on your way to work in the morning, but if Phoebe sees you with the cup, she gets bummed that you didn’t tell her you were going. How could you respond?</p>
				<ul class="options-wrap js-radio-wrap">
					<li>
						<label class="options-answer js-radio-label">
							<input type="radio" name="answer" class="js-radio">
							<span>A</span>
							<p class="option-text short-option">True</p>
						</label>
					</li>
					<li>
						<label class="options-answer js-radio-label">
							<input type="radio" name="answer" class="js-radio">
							<span>B</span>
							<p class="option-text short-option">False</p>
						</label>
					</li>
				</ul>
				<a href="#" class="help-icon" data-toggle="modal" data-target="#quiz-help">&#63;</a>
			</div>
			<div class="question-detail clearfix">
				<p class="ques-count">Question 4/5</p>
				<a href="#" class="black-btn hidden">NEXT</a>
				<p class="skill-name">Skill: Connect<span class="ws-icon-user"></span></p>
			</div>
		</div>
	</div>
</div>
<% include _quiz_help_modal %>
