<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function () {
    	(new CommonModule()).init();
    	ToggleModal();
    });
</script>

<%- contentFor('title') %>
| Settings

<%- contentFor('body') %>
<%- include _header %>
<div class="content">
	<div class="setting-banner-wrap dreamer-settings clearfix">
		<div class="container">
			<h2>Jake Swantner <span>Profile</span></h2>
			<a href="mailto:admin@work.style" class="btn white-round-btn">Contact us</a>
			<p>Need help with something? </p>
		</div>
	</div>
	<div class="container settings-tabs-wrap">
		<!-- Nav tabs -->
		<ul class="settings-nav-wrap" role="tablist">
			<li role="presentation" class="settings-nav-tab">
				<a href="#account" class="settings-nav-item js-nav-item" aria-controls="account" role="tab" data-toggle="tab">Account</a>
			</li>
			<li role="presentation" class="settings-nav-tab">
				<a href="#password" class="settings-nav-item js-nav-item" aria-controls="password" role="tab" data-toggle="tab">Password</a>
			</li>
			<li role="presentation" class="settings-nav-tab">
				<a href="#faq" class="settings-nav-item js-nav-item" aria-controls="faq" role="tab" data-toggle="tab">Help/FAQ</a>
			</li>
			<li role="presentation" class="settings-nav-tab">
				<a href="#invite" class="settings-nav-item js-nav-item" aria-controls="invite" role="tab" data-toggle="tab">Invite</a>
			</li>
			<li role="presentation" class="settings-nav-tab">
				<a href="#department" class="settings-nav-item js-nav-item" aria-controls="invite" role="tab" data-toggle="tab">Department</a>
			</li>
			<li role="presentation" class="settings-nav-tab active">
				<a href="#contest" class="settings-nav-item js-nav-item" aria-controls="invite" role="tab" data-toggle="tab">Contest</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content settings-tab-content">
			<div role="tabpanel" class="tab-pane" id="account">
				<%- include _settings_tab_account %>
			</div>
			<div role="tabpanel" class="tab-pane" id="password">
				<%- include _settings_tab_password %>
			</div>
			<div role="tabpanel" class="tab-pane" id="faq">
				<%- include _settings_tab_faq %>
			</div>
			<div role="tabpanel" class="tab-pane" id="invite">
			</div>
			<div role="tabpanel" class="tab-pane" id="department">
			</div>
			<div role="tabpanel" class="tab-pane active" id="contest">
				<form>
					<div class="contest-setup-wrap existing-contest-wrap">
						<h3 class="contest-title">Setup & Review Contest to Encourge Training</h3>
						<p class="contest-help-text">CREATE A CONTEST TO ENCOURAGE EMPLOYEES TO TRAIN. BY ENTERING A CONTEST TYPE, AN AWARD AMOUNT, AND A CONTEST END DATE BELOW. EMPLOYEES WILL SEE A BANNER ANNOUNCING THE CONTEST ON THEIR HOMEPAGE UNTIL THE END OF THE CONTEST.</p>
						<p class="contest-help-text">CONTESTS END AT 11:59PM EST ON THE CONTEST END DATE. WE WILL NOTIFY YOU AND THE COMPANY'S ACCOUNT OWNERS BY EMAIL WITH THE USER'S INFORMATION SO YOU CAN REACH OUT TO THEM AND PROVIDE THEM WITH THEIR REWARD.</p>
						<div class="contest-inner-wrap">
							<div class="contest-field select-department-wrap">
								<h6>SELECT CONTEST COMPANY</h6>
								<select class="selectpicker" title="Select company">
									<option selected>Microsoft</option>
									<option>Chemex</option>
									<option>Apple</option>
									<option>Santex</option>
								</select>
							</div>
							<div class="contest-field">
								<h6>CURRENT CONTEST</h6>
								<h2>Top PQ Score</h2>
							</div>
							<div class="contest-field">
								<h6>CURRENT CONTEST AWARD</h6>
								<h2>a $200 gift card</h2>
							</div>
							<div class="contest-field">
								<h6>CONTEST END DATE (AT 11:59PM EST)</h6>
								<h2>December 29,2016</h2>
							</div>
						</div>
						<div class="contest-btm-wrap">
							<a href="#" class="btn yellow-btn">GO TO TRAINING ANALYTICS</a><br>
							<a class="btn black-hollow-btn" data-toggle="modal" href="#end-contest">CANCEL CONTEST</a>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
</div>

<%- include _end_contest_confirmation_modal.ejs %>
<%- include _contest_canceled_modal.ejs %>
<%- include _footer %>
