<%- contentFor('title') %>
| PDF Report : Personality Matters

<%- contentFor('body') %>
<div class="pdf-wrapper clearfix">
	<div class="report-head-wrapper">
		<h4 class="head-wrapper-title"><img src="<%= asset('assets/images/workstyle_white_icon.png') %>"> <span>North American Workstyle Distribution</span></h4>
		<p class="head-wrapper-text">The following is a distribution of workstyles across North America. Your company has its own workstyle distribution- see the Team tab on my.work.style to see your company's unique workstyle chemistry.</p>
	</div>
	<div class="famous-pq-report">
		<div class="workstyle-graph-wrap">
			<img src="<%= asset('assets/images/north_america_workstyle_graph.png') %>">
		</div>
		<div class="report-footer-wrap clearfix">
			<img src="<%= asset('assets/images/workstyle_text_logo.png') %>">
			<p class="footer-link-text">Learn and train more at <a class="web-link-wrap" href="http://my.work.style">my.work.style</a></p>
		</div>
	</div>
</div>
