<%- contentFor('title') %>
| Top PQ Contest

<%- contentFor('header_text') %>
Jason, beat the contest, get rewarded!

<%- contentFor('banner_image') %>
<img src="<%= asset('assets/images/email/top_pq_email_banner.jpg') %>">

<%- contentFor('email_head') %>
The Best PQ scorer wins a

<%- contentFor('reward_text') %>
$200 gift card!

<%- contentFor('reward_details_text') %>
<tr>
	<td valign="top" style="color: #404041;font-size: 10px;line-height: 25px;word-break:break-word;text-align:center;">
		THE PERSON WITH THE HIGHEST PQ AT THE MICROSOFT</br>
		BY DECEMBER 29TH WIN WIN $200 GIFT CARD!
	</td>
</tr>
