<%- contentFor('title') %>
| PDF Report : Advisor PQ Details

<%- contentFor('body') %>
<div class="clearfix">
	<img width="100%" src="<%= asset('assets/images/personality-matters/personality_matters_header.svg') %>">
	<div class="pdf-top-widget-wrap">
		<img width="100%" src="<%= asset('assets/images/personality-matters/personality_matters_advisor_top_widget.svg') %>">
		<div class="pdf-top-widget-img">
			<img src="<%= asset('assets/images/personality-matters/5D046F2.png') %>">
			<img src="<%= asset('assets/images/personality-matters/5D046F2.png') %>">
			<img src="<%= asset('assets/images/personality-matters/5D046F2.png') %>">
			<img src="<%= asset('assets/images/personality-matters/5D046F2.png') %>">
			<img src="<%= asset('assets/images/personality-matters/5D046F2.png') %>">
		</div>
	</div>
	<img width="100%" src="<%= asset('assets/images/personality-matters/personality_matters_advisor_bottom_widget.svg') %>">
	<img width="100%" src="<%= asset('assets/images/personality-matters/personality_matters_footer.svg') %>">
</div>
