<%- contentFor('title') %>
| PDF Report : Advisor PQ Details

<%- contentFor('body') %>
<div class="clearfix">
	<div class="left-col-wrap">
		<img src="<%= asset('assets/images/advisor-pq-details-page.svg') %>">	
	</div>
	<div class="right-col-wrap">
		<img class="hierarchy-img" src="<%= asset('assets/images/pq-hierarchy/hierarchy.svg') %>">
		<div class="single-pq-img">
			<img class="pq-icon-img pq-img-size-6x" src="<%= asset('assets/images/pq-hierarchy/advisor-icon.svg') %>"><br>
			<img class="pq-img-label" src="<%= asset('assets/images/pq-hierarchy/advisor-text.svg') %>">
		</div>
		<div class="single-pq-img">
			<img class="pq-icon-img pq-img-size-5x" src="<%= asset('assets/images/pq-hierarchy/dreamer-icon.svg') %>"><br>
			<img class="pq-img-label" src="<%= asset('assets/images/pq-hierarchy/dreamer-text.svg') %>">
		</div>
		<div class="single-pq-img">
			<img class="pq-icon-img pq-img-size-4x" src="<%= asset('assets/images/pq-hierarchy/doer-icon.svg') %>"><br>
			<img class="pq-img-label" src="<%= asset('assets/images/pq-hierarchy/doer-text.svg') %>">
		</div>
		<div class="single-pq-img">
			<img class="pq-icon-img pq-img-size-3x" src="<%= asset('assets/images/pq-hierarchy/original-icon.svg') %>"><br>
			<img class="pq-img-label" src="<%= asset('assets/images/pq-hierarchy/original-text.svg') %>">
		</div>
		<div class="single-pq-img">
			<img class="pq-icon-img pq-img-size-2x" src="<%= asset('assets/images/pq-hierarchy/organizer-icon.svg') %>"><br>
			<img class="pq-img-label" src="<%= asset('assets/images/pq-hierarchy/organizer-text.svg') %>">
		</div>
		<div class="single-pq-img">
			<img class="pq-icon-img pq-img-size-1x" src="<%= asset('assets/images/pq-hierarchy/connector-icon.svg') %>"><br>
			<img class="pq-img-label" src="<%= asset('assets/images/pq-hierarchy/connector-text.svg') %>">
		</div>
	</div>
</div>
