<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function () {
    	(new CommonModule()).init();
    	UserSettingModule();
    });
</script>

<%- contentFor('title') %>
| Settings

<%- contentFor('body') %>
<%- include _header %>
<div class="content">
	<div class="setting-banner-wrap dreamer-settings clearfix">
		<div class="container">
			<h2>Jake Swantner <span>Profile</span></h2>
			<a href="mailto:admin@work.style" class="btn white-round-btn">Contact us</a>
			<p>Need help with something? </p>
		</div>
	</div>
	<div class="container settings-tabs-wrap">
		<!-- Nav tabs -->
		<ul class="settings-nav-wrap" role="tablist">
			<li role="presentation" class="settings-nav-tab">
				<a href="#account" class="settings-nav-item js-nav-item" aria-controls="account" role="tab" data-toggle="tab">Account</a>
			</li>
			<li role="presentation" class="settings-nav-tab">
				<a href="#password" class="settings-nav-item js-nav-item" aria-controls="password" role="tab" data-toggle="tab">Password</a>
			</li>
			<li role="presentation" class="settings-nav-tab">
				<a href="#faq" class="settings-nav-item js-nav-item" aria-controls="faq" role="tab" data-toggle="tab">Help/FAQ</a>
			</li>
			<li role="presentation" class="settings-nav-tab">
				<a href="#invite" class="settings-nav-item js-nav-item" aria-controls="invite" role="tab" data-toggle="tab">Invite</a>
			</li>
			<li role="presentation" class="settings-nav-tab">
				<a href="#department" class="settings-nav-item js-nav-item" aria-controls="department" role="tab" data-toggle="tab">Departments</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content settings-tab-content">
			<div role="tabpanel" class="tab-pane" id="account">
				<%- include _settings_tab_account %>
			</div>
			<div role="tabpanel" class="tab-pane" id="password">
				<%- include _settings_tab_password %>
			</div>
			<div role="tabpanel" class="tab-pane" id="faq">
				<%- include _settings_tab_faq %>
			</div>
			<div role="tabpanel" class="tab-pane" id="invite">
				<%- include _settings_tab_invite %>
			</div>
			<div role="tabpanel" class="tab-pane active" id="department">
				<div class="invite-tab-wrap clearfix">
					<div class="add-department-wrap department-list-wrap">
						<h3 class="invite-head">Your existing company departments</h3>
						<ul class="department-list">
							<li>ACCOUNTING</li>
							<li>CUSTOMER SERVICE</li>
							<li>SALES-AUSTIN</li>
							<li>SALES-NYC</li>
						</ul>
						<div class="btm-btn-wrap">
							<button class="btn yellow-btn">ADD DEPARTMENTS</button><br>
							<button class="btn yellow-btn">EDIT TRAINING</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include _footer %>
