<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function () {
    	(new CommonModule()).init();
    	(new QuestionModule()).resize_bubble();
    });
</script>

<%- contentFor('title') %>
| Quest &amp; Quiz

<%- contentFor('body') %>
<%- include _header %>
<div class="content quiz-background <%- skill_type_class %>">
	<div class="container">
		<div class="question-wrap">
			<div class="question-box white-box response-wrap">
				<p class="ques-text"><strong>Question:</strong> Phoebe LOVES Starbucks! She just loves saying the word Frappppacccccciiiinnnooooooo with extra gusto! You regularly grab a Starbucks coffee on your way to work in the morning, but if Phoebe sees you with the cup, she gets bummed that you didn’t tell her you were going. How could you respond?</p>
				<div class="clearfix">
					<div class="response-desc">
						<h4><span class="ws-icon-square-check"></span>Correct!</h4>
						<p>Phoebe is a Original type that likes to be light-hearted and in-the-moment.</p>
					</div>
					<div class="points-earned">
						<p class="result-bubble  js-cal-width js-result-bubble"><span><strong>+</strong><span class="pq-score">2</span>PQ</span></p>
						<span>Points Earned</span>
					</div>
				</div>
				<a href="#" class="help-icon" data-toggle="modal" data-target="#quiz-help">&#63;</a>
			</div>
			<div class="question-detail clearfix">
				<p class="ques-count">Question 4/5</p>
				<a href="#" class="black-btn hidden">NEXT</a>
				<p class="skill-name">Skill: Connect<span class="ws-icon-user"></span></p>
			</div>
		</div>
	</div>
</div>
<% include _quiz_help_modal %>
