<%- contentFor('title') %>
| PDF Report : Personality Matters

<%- contentFor('body') %>
<div class="pdf-wrapper clearfix">
	<div class="report-head-wrapper">
		<h4 class="head-wrapper-title"><img src="<%= asset('assets/images/workstyle_white_icon.png') %>"> <span>Personality Matters</span></h4>
		<p class="head-wrapper-text">Miroslav, by identifying your workstyle, you've taken a big leap in understanding yourself and becoming a master communicator. Now keep training with workstyle to master communicating with all six workstyles.</p>
	</div>
	<div class="famous-pq-report dreamer-pq-report">
		<div class="famous-pq-wrap">
			<h5 class="famous-pq-title">Famous Dreamers</h5>
			<div class="famous-pq-images">
				<div class="famous-people-image">
					<img src="<%= asset('/assets/images/Dreamer/Dreamer_AlbertEinstein_TheoreticalPhysicist.png') %>">
					<h6 class="famous-pq-name">Albert Einstein <br><span>Theoretical Physicist</span></h6>
				</div>
				<div class="famous-people-image">
					<img src="<%= asset('/assets/images/Dreamer/Dreamer_PhoebeBuffay_Friends.png') %>">
					<h6 class="famous-pq-name">Phoebe Buffay <br><span>Friends</span></h6>
				</div>
				<div class="famous-people-image">
					<img src="<%= asset('/assets/images/Dreamer/Dreamer_JohnLennon_Musician.png') %>">
					<h6 class="famous-pq-name">John Lennon <br><span>Musician</span></h6>
				</div>
				<div class="famous-people-image">
					<img src="<%= asset('/assets/images/Dreamer/Dreamer_LunaLovegood_HarryPotter.png') %>">
					<h6 class="famous-pq-name">Luna Lovegood <br><span>Harry Potter</span></h6>
				</div>
				<div class="famous-people-image">
					<img src="<%= asset('/assets/images/Dreamer/Dreamer_PeterParker_Spiderman.png') %>">
					<h6 class="famous-pq-name">Peter Parker <br><span>Spider Man</span></h6>
				</div>
			</div>
		</div>
		<div class="report-btm-details clearfix">
			<div class="pq-details-text-wrap">
				<div class="pq-detail-text-wrap">
					<h5>Key Dreamer Workstyle Traits</h5>
					<p>The Dreamer judges and evaluates based upon their belief and values system. They are dedicated, observant, and conscientious.</p>
					<p>The Dreamer is energized by commitment to a greater goal. They are passionate about what they believe in and will support the underdog in effort to do what is right or what should be done.</p>
					<p>The Dreamer focuses on the why so showing them evidence is important. Credible sources as well as irrefutable supporting documentation are key to affirming their commitment</p>
					<p>Dreamers will find the flaw in any situation. In their perspective, it's better to make someone aware of a mistake earlier rather than knowingly permitting the possibility of the person being wrong later.</p>
				</div>
			</div>
			<div class="pq-details-text-wrap">
				<div class="pq-detail-text-wrap">
					<h5>Your Personality Strengths</h5>
					<p class="report-pq-tags">Dedicated, Observant, and Conscientious</p>
				</div>
				<div class="pq-detail-text-wrap">
					<h5>Your Psychological Needs</h5>
					<p>A psychological need is what you must have in order to feel accomplished, motivated, or fulfilled. As an Dreamer, you have a need for recognition for your work (for the greater good) and convictions.</p>
				</div>
				<div class="pq-detail-text-wrap">
					<h5>Your Distress Response</h5>
					<p>Workstyle defines Distress as your state of mind when something is important, uncertain, or unknown. As an Dreamer, your distress response is typically to find flaws and then expect perfection from others.</p>
				</div>
			</div>
		</div>
		<div class="report-footer-wrap clearfix">
			<img src="<%= asset('assets/images/workstyle_text_logo.png') %>">
			<p class="footer-link-text">Learn and train more at <a class="web-link-wrap" href="http://my.work.style">my.work.style</a></p>
		</div>
	</div>
</div>
