<html>
    <head>
        <title>Work Style
            <%- title %>
        </title>
    </head>
<body style="margin:0;padding:0;">
    <center>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background: #dddddd; background-color: #dddddd; height:100% !important; margin:0; padding:0; width:100% !important; font-family:Arial, Helvetica, sans-serif;">
            <tr>
                <td valign="top" align="center" style="color: #393937;">
                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                        <tr>
                            <td valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;background-color:#ffffff;">
                                    <tr>
                                        <td valign="top" style="border:0;margin:0;">
                                            <table width="600" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td  valign="top" height="14" width="600" style="font-size:0;line-height:0;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table width="600" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td  valign="top" height='20' width="24" style="font-size:0;line-height:0;">&nbsp;</td>
                                                                <td valign="top" width="135" height="45">
                                                                    <a href="#" style="display:inline-block;text-decoration:none;">
                                                                        <img width="123" height="32" src="<%= asset('assets/images/email/email_header_logo.png') %>">
                                                                    </a>
                                                                </td>
                                                                <td valign="middle" style="color:#02919B;font-size: 16px;line-height:24px;text-align:right;">
                                                                    <%- header_text %>
                                                                </td>
                                                                <td  valign="top" height='20' width="24" style="font-size:0;line-height:0;">&nbsp;</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td  valign="top" height='6' width="600" style="font-size:0;line-height:0;">&nbsp;</td>
                                                </tr>
                                           </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="600">
                                            <%- banner_image %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height='43' width="600" style="font-size:0;line-height:0;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="600">
                                            <table width="600" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td valign="top" height='12' width='59' style="font-size:0;line-height:0;margin:0;">&nbsp;</td>
                                                    <td valign="top" width='495' >
                                                        <table>
                                                            <tr>
                                                                <td style="color: #2A2D31;font-size: 22px;line-height: 28px;width:495px;word-break:break-word;text-align:center;font-weight:900;letter-spacing:0.5px;">
                                                                    <%- email_head %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" height="18" width='600' style="font-size:0;line-height:0;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="color: #02919B;font-size: 45px;line-height: 50px;word-break:break-word;text-align:center;font-weight:900;letter-spacing:0.8px;">
                                                                    <%- reward_text %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" height="26" width='600' style="font-size:0;line-height:0;">&nbsp;</td>
                                                            </tr>
                                                            <%- reward_details_text %>
                                                        </table>
                                                    </td>
                                                    <td valign="top" height='12' width='46' style="font-size:0;line-height:0;">&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height='34' width='600' style="font-size:0;line-height:0;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" >
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td valign="top" height='20' width='82' style="font-size:0;line-height:0;">&nbsp;</td>
                                                    <td valign="top" width='428' style="width:428px;border-top: 2px solid #ECA92D;text-align:center;">
                                                        <table>
                                                            <tr>
                                                                <td valign="top" height="32" width='428' style="font-size:0;line-height:0;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" style="color: #404041;font-size: 10px;line-height: 16px;word-break:break-word;text-align:center;">
                                                                    SEE HOW YOUR PERFORMANCE COMPARES TO THE REST OF YOUR TEAM
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" height="14" width='428' style="font-size:0;line-height:0;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" style="text-align:center;">
                                                                    <a href="#" style="background-color: #0797A1;display:inline-block;color:#fff;font-size:12px;line-height:16px;padding: 9px 12px;;text-decoration:none;font-weight:800;letter-spacing:0.4px;">See your performance stats</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td valign="top" height='20' width='82' style="font-size:0;line-height:0;">&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="32" width="600" style="font-size:0;line-height:0;">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" style="background:#e6e6e6;background-color:#e6e6e6;">
                                    <tr>
                                        <td valign="top" height='25' width='600'>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" >
                                            <table border="0" cellpadding="0" cellspacing="0" >
                                                <tr>
                                                    <td valign="top" width='90' height='50' >&nbsp;</td>
                                                    <td valign="top"  valign="top" width='505' align="center" style="color: #808080;font-size: 9px;line-height: 19px;text-align:left;letter-spacing:0.2px;word-break:break-word;">
                                                        &copy; 2015 Workstyle PQ. All rights reserved.<br/>

                                                        To ensure future delivery of email, please add start@workstyle.com to your address book, contacts, or safe sender list.<br/>

                                                        PLEASE DO NOT REPLY TO THIS MESSAGE. To obtain information on how to contact Adobe, visit the web at www.mattersight.com or call 800-833-6687. <br/>

                                                        This is a marketing email from Mattersight, 345 Park Avenue, San Jose, CA 95110 USA.<br/> Click <a href="#" style="color: #0797A1;text-decoration:none;">here</a> to unsubscribe.<br/>

                                                        Your privacy is important to us. Please review Workstyle's policy.
                                                    </td>
                                                    <td valign="top"  width='70' height='50'>&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top"  width='600' height='25'>&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>
