<div class="question-wrap js-question-wrap js_question_wrap_container question-transition-wrap" data-skill-class="<%- skillWrapperClass %>" data-question_type="<%= selectedQuestion.get('question_type') %>">
    <div class="question-box image-question-wrap js_question_wrap">
        <p class="ques-text"><%= selectedQuestion.get('question_text') %></p>
        <div class="clearfix multimedia-question-wrap">
            <div class="multimedia-wrap">
                <div class="video-quiz-section">
                    <img class="video-question-thumbnail js_video_question_image">
                    <a class="video-controls-wrap js-play-video"  data-video-url="<%= selectedQuestion.get('media_src') %>">
                        <span class="ws-play-video play-icon-wrap">
                            <img class="js_video_play_button" src="<%= asset('assets/images/ws_play_button.gif') %>">
                        </span><br>
                        <span class="control-text-wrap">PLAY VIDEO</span>
                    </a>
                    <div class="video-section js-video-section hidden">
                        <div class="container">
                            <iframe width="100%" height="100%" frameborder="0"  allowfullscreen></iframe>
                            <a href="#" class="close-video js-close-video glyphicon glyphicon-remove" title="Close video"></a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class='options-wrap js-options-container clearfix js_options_wrap' data-validation_path="<%= url('quiz.response') %>" data-score_recalculation_path="<%= url('quiz.recalculateScore') %>" data-question_id="<%= selectedQuestion.id %>">
                <% for(var optionIndex in options){ %>
                <li>
                    <label class="options-answer js-radio-label">
                        <input type="radio" name="option" value="<%= options[optionIndex].id %>" class="js-radio js_option_input">
                        <span class="option-index"><%= ("ABCDEFGHIJKLMNOPQRSTUVWXYZ")[optionIndex] %></span>
                        <p class="option-text js-option-text"><%= options[optionIndex].get('option_text') %></p>
                        <span class="option-fill js-option-fill"></span>
                    </label>
                </li>
                <% } %>
            </ul>
        </div>
        <a class="help-icon" data-toggle="modal" data-target="#quiz-help">&#63;</a>
    </div>
    <div class="question-detail clearfix">
        <p class="ques-count js_ques_count" data-ques_index="<%= questionIndex %>" data-max_quiz_question="<%= maxQuizQuestion %>" >Question <%= questionIndex %>/<%= maxQuizQuestion %></p>
        <% if(questionIndex < maxQuizQuestion) { %>
            <a href="#" class="black-btn hide js_next js_next_ques_btn js-slide-next-ques">NEXT</a>
        <% } else { %>
            <a href="<%= url('quiz.result') %>"class="black-btn hide js_next">Finish</a>
        <% } %>
        <p class="skill-name"><%= selectedQuestion.get('category_type') && selectedQuestion.get('category_type').get('name')? selectedQuestion.get('category_type').get('name') + ' - ' : '' %><%= skillName %><span class="<%= skillIconClass %>"></span></p>
    </div>
</div>
