<%- contentFor('title') %>
| PDF Report : Personality Matters

<%- contentFor('header') //intentionally left blank %>
<%- contentFor('footer') //intentionally left blank  %>
<%- contentFor('body') %>
<div id="personality_description" class="clearfix js_pdf_page">
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_header.svg') %>">
	<div class="pdf-top-widget-wrap">
		<img width="98%" src="<%= asset('assets/images/pdf-report-images/personality_matters_advisor_top_widget.svg') %>">
		<div class="pdf-top-widget-img">
			<img src="<%= asset('assets/images/pdf-report-images/Advisor_Martin_Luther_King_Jr_Activist.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Advisor_Hillary_Clinton_Politician.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Advisor_Peggy_Olson_Madmen.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Advisor_Harry_Potter_Harry_Potter.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Advisor_Nelson_Mandela_South_African_President.png') %>">
		</div>
	</div>
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_advisor_bottom_widget.svg') %>">
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_footer.svg') %>">
</div>
