<%- contentFor('title') %>
| PDF Report : Personality Matters

<%- contentFor('header') //intentionally left blank %>
<%- contentFor('footer') //intentionally left blank  %>
<%- contentFor('body') %>
<div id="personality_description" class="clearfix js_pdf_page">
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_header.svg') %>">
	<div class="pdf-top-widget-wrap">
		<img width="99%" src="<%= asset('assets/images/pdf-report-images/personality_matters_connector_top_widget.svg') %>">
		<div class="pdf-top-widget-img">
			<img src="<%= asset('assets/images/pdf-report-images/Connector_Pam_Halpert_The_Office.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Connector_Jimmy_Carter_US_President.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Connector_Rachel_Green_Friends.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Connector_Phil_Dunphy_Modern_Family.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Connector_Taylor_Swift_Singer.png') %>">
		</div>
	</div>
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_connector_bottom_widget.svg') %>">
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_footer.svg') %>">
</div>
