<%- contentFor('title') %>
| PDF Report : Personality Matters

<%- contentFor('header') //intentionally left blank %>
<%- contentFor('footer') //intentionally left blank  %>
<%- contentFor('body') %>
<div id="personality_description" class="clearfix js_pdf_page">
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_header.svg') %>">
	<div class="pdf-top-widget-wrap">
		<img width="99%" src="<%= asset('assets/images/pdf-report-images/personality_matters_doer_top_widget.svg') %>">
		<div class="pdf-top-widget-img">
			<img src="<%= asset('assets/images/pdf-report-images/Doer_Donald_Trump_Businessman.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Doer_Joan_Rivers_Actress.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Doer_Frank_Underwood_House_of_Cards.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Doer_Mark_Cuban_Businessman.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Doer_James_Bond_007.png') %>">
		</div>
	</div>
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_doer_bottom_widget.svg') %>">
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_footer.svg') %>">
</div>
