<%- contentFor('title') %>
| PDF Report : Personality Matters

<%- contentFor('header') //intentionally left blank %>
<%- contentFor('footer') //intentionally left blank  %>
<%- contentFor('body') %>
<div id="personality_description" class="clearfix js_pdf_page">
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_header.svg') %>">
	<div class="pdf-top-widget-wrap">
		<img width="98%" src="<%= asset('assets/images/pdf-report-images/personality_matters_dreamer_top_widget.svg') %>">
		<div class="pdf-top-widget-img">
			<img src="<%= asset('assets/images/pdf-report-images/Dreamer_Albert_Einstein_Theoretical_Physicist.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Dreamer_Phoebe_Buffay_Friends.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Dreamer_John_Lennon_Musician.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Dreamer_Luna_Lovegood_Harry_Potter.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Dreamer_Forrest_Gump_Forrest_Gump.png') %>">
		</div>
	</div>
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_dreamer_bottom_widget.svg') %>">
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_footer.svg') %>">
</div>
