<%- contentFor('title') %>
| PDF Report : Personality Matters

<%- contentFor('header') //intentionally left blank %>
<%- contentFor('footer') //intentionally left blank  %>
<%- contentFor('body') %>
<div class="js_pdf_page" id="distribution_page">
    <img width="100%" src="<%= asset('assets/images/pdf-report-images/north_america_workstyle_graph.svg') %>" />
</div>
