<%- contentFor('title') %>
| PDF Report : Personality Matters

<%- contentFor('header') //intentionally left blank %>
<%- contentFor('footer') //intentionally left blank  %>
<%- contentFor('body') %>
<div id="personality_description" class="clearfix js_pdf_page">
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_header.svg') %>">
	<div class="pdf-top-widget-wrap">
		<img width="98%" src="<%= asset('assets/images/pdf-report-images/personality_matters_original_top_widget.svg') %>">
		<div class="pdf-top-widget-img">
			<img src="<%= asset('assets/images/pdf-report-images/Original_Robin_Williams_Actor.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Original_Ellen_DeGeneres_The_Ellen_DeGeneres _Show.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Original_Michael_Strahan_Live_with_Kelley_and_Michael.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Original_Charlie_Chapman_Actor.png') %>">
			<img src="<%= asset('assets/images/pdf-report-images/Original_Sybil_Crawley_Downton_Abbey.png') %>">
		</div>
	</div>
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_original_bottom_widget.svg') %>">
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/personality_matters_footer.svg') %>">
</div>
