<%- contentFor('title') %>
| PDF Report : Personality Matters

<%- contentFor('header') //intentionally left blank %>
<%- contentFor('footer') //intentionally left blank  %>
<%- contentFor('body') %>
<div id="cover_page" class="js_pdf_page">
	<img width="100%" src="<%= asset('assets/images/pdf-report-images/hang-your-workstyle.svg') %>" />
</div>
