<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function () {
        (new CommonModule()).init();
        (new PQPageModule().init({
            userId: '<%= locals.user.id %>',
            renderScoreSection: <%= locals.renderScoreSection %>,
            skillGraphData: <%- JSON.stringify(locals.skillGraphData) || 'undefined' %>,
            batchCount: <%= locals.batchCount || 1 %>,
            hashTimeStamp: <%= locals.hashTimeStamp || 0 %>,
            batchCountHash: '<%= locals.batchCountHash || ''%>',
            getUserResponsesUrl: '<%= url('user.getUserResponses') %>',
            recalculateCacheTableUrl: '<%= url('user.recalculateCacheTable') %>',
        }));

    });
</script>

<%- contentFor('title') %>
| My PQ

<%- contentFor('body') %>
<div class="content public-profile-wrap ">
    <div class="banner-wrap <%= headerWrapperClass%>">
        <div class="container">
            <span class="icon-wrap">
            </span>
            <p class="about-me-wrap">
                <%= user.get('first_name') %> <%= user.get('last_name') %>,
                <span><%= user.get('occupation') %></span>
            </p>
            <img class="superpower-tag" src="<%= asset(superPowerTagLineMap[primaryPersonality.get('name').toLocaleLowerCase()]) %>">
            <a class="ws-btn" href="<%= url(learnMorePersonalityUrlNameMap[primaryPersonality.get('name').toLowerCase()]) %>">
                LEARN MORE ABOUT MY WORKSTYLE TYPE
            </a>
        </div>
    </div>
    <div class="container my-pq-wrap">
        <div class="ws-aligner">
            <h1 class="ws-heading-wrap"><%= user.get('first_name') %> PQ Stats</h1>
            <div class="pq-analytics-wrap">
                <div class="semicircle-chart-wrap">
                    <h2 class="ws-subheading-wrap">Connections</h2>
                    <div id="ScoreText" class="score-text-wrap">
                        <span class="novice-text">Novice</span>
                        <span class="adv-text">Advanced</span>
                        <span class="expert-text">Expert</span>
                        <span class="master-text">Master</span>
                        <div id="IdentifyText">Identify: <span id="IdentifyScore"><% if(renderScoreSection){ %><%= skillGraphData.identify.score %><% } %></span></div>
                        <div id="UnderstandText">Understand: <span id="UnderstandScore"><% if(renderScoreSection){ %><%= skillGraphData.understand.score %><% } %></span></div>
                        <div id="ConnectText">Connect: <span id="ConnectScore"><% if(renderScoreSection){ %><%= skillGraphData.connect.score %><% } %></span></div>
                        <div id="PQScoreText"><span id="PQScore"><% if(renderScoreSection){ %><%= skillGraphData.identify.score + skillGraphData.understand.score + skillGraphData.connect.score %><% } %></span> PQ</div>
                    </div>
                    <div id="ScoreBackground" style="min-width: 360px; height: 450px; max-width: 650px; margin: 0 auto"></div>
                    <div id="ScoreGraph" style="min-width: 360px; height: 450px; max-width: 650px; margin: 0 auto"></div>
                </div>
                <div class="circle-chart-wrap js_circle_section">
                    <% if(renderScoreSection){ %>
                    <%= include _my_pq_personality_donut_graph.ejs %>
                    <% } %>
                </div>
            </div>
            <div class="text-btn-wrap">
                <p>
                    Keep improving your PQ score!
                </p>
                <a href="<%= url('quiz.start') %>" class="ws-btn black-btn">START TRAINING</a>
            </div>
        </div>
        <div class="full-page-loader overlay-loader-wrap js_half_page_loader <% if(renderScoreSection){ %>hide<% } %>">
            <div class="page-loader-wrap">
                <img src="<%= asset('assets/images/workstyle_loading_white.gif') %>">
                <h1>Loading...</h1>
            </div>
        </div>
    </div>
</div>
</div>
