<div class="register-wrap">
    <a class="logo-wrap" href="<%= url('user.home') %>"><img src="<%= asset('assets/images/register_page_logo.png') %>"></a>

    <div class="white-bg-box waitlist-confirm-wrap clearfix">
        <h2>...</h2>

        <p>Sorry, your company has not yet invited you to join Workstyle. Contact your account owner and request to be
            added.</p>
        <a class="btn white-btn" href="mailto:?subject=<%= mailSubject %>&body=<%= mailBody %>">TELL OTHERS ABOUT
            WORKSTYLE</a>
    </div>
    <a href="<%= url('user.home') %>" class="return-link">&lt;&lt; Return Home</a>
</div>
