<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function () {
        (new CommonModule()).init();
        (new PasswordUpdateSettingModule()).init({success: <% if(typeof success !== 'undefined'){ %><%= success %><% }else{ %>false<% } %>});
    });
</script>
<%- contentFor('title') %>
| Settings

<%- contentFor('body') %>
<div class="content">
    <%- include _settings_user_info_header %>
    <div class="container settings-tabs-wrap">
        <%- include _settings_nav_partial %>
        <div class=" settings-tab-content">
            <form class="setting-form" id="password-update-form" method="POST">
                <div class="field-row">
                    <label class="account-form-label">Old Password</label>
                    <div class="form-group <% if(typeof oldPasswordError !== 'undefined'){ %>error-wrap<% } %>">
                        <input id="old_password" name="old_password" type="password" class="form-control input-common">
                        <div class="custom-tooltip">
                            <div class="custom-tooltip-arrow"></div>
                            <p class="error-text-wrap">
                                <% if(typeof oldPasswordError !== 'undefined'){ %>
                                <%= oldPasswordError %>
                                <% } %>
                           </p>
                        </div>
                    </div>
                </div>
                <div class="field-row">
                    <label class="account-form-label">New Password</label>
                    <div class="form-group <% if(typeof password1Error !== 'undefined'){ %>error-wrap<% } %>">
                        <input id="password1" name="password1" type="password" class="form-control input-common">
                        <div class="custom-tooltip">
                            <div class="custom-tooltip-arrow"></div>
                            <p class="error-text-wrap">
                                <% if(typeof password1Error !== 'undefined'){ %>
                                <%= password1Error %>
                                <% } %>
                           </p>
                        </div>
                    </div>
                </div>
                <div class="field-row">
                    <label class="account-form-label">Repeat New Password</label>
                    <div class="form-group <% if(typeof password2Error !== 'undefined'){ %>error-wrap<% } %>">
                        <input id="password2" name="password2" type="password" class="form-control input-common">
                        <div class="custom-tooltip">
                            <div class="custom-tooltip-arrow"></div>
                            <p class="error-text-wrap">
                                <% if(typeof password2Error !== 'undefined'){ %>
                                <%= password2Error %>
                                <% } %>
                           </p>
                        </div>
                    </div>
                </div>
                <div class="settings-form-btn">
                    <button class="btn yellow-btn">Update Password</button>
                </div>
            </form>
            <div class="modal fade upload-csv-response" id="password-updated-modal" tabindex="-1" role="dialog" data-backdrop="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <a class="close-modal" data-dismiss="modal">&times;</a>
                            <p class="csv-upload-error js_message">Password has been updated successfully</p>
                            <a class="btn black-btn" data-dismiss="modal">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
